################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlexiServices.v2.ncrunchsolution
*.ncrunchproject
_NCrunch_FlexiServices
FlexiServices.ncrunchsolution.user
/.vs
/packages
/src/FlexiServices.Client/obj
/src/FlexiServices.Client/bin
/src/FlexiServices.Service/obj
/src/FlexiServices.Service/bin
/src/Tests/FlexiServices.AcceptanceTests/obj
/src/Tests/FlexiServices.AcceptanceTests/bin