<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="Calculator_BasicHttpBinding"/>
      </basicHttpBinding>
    </bindings>

    <extensions>
      <behaviorExtensions>
        <add name="serviceRealExceptionBehaviourExtension"
             type="FlexiServices.Service.RealExceptionHandlerElement, FlexiServices.Service" />
        <add name="clientRealExceptionEndpointBehaviorExtension" 
             type="FlexiServices.Client.RealExceptionBehaviorExtensionElement, FlexiServices.Client" />
      </behaviorExtensions>
    </extensions>

    <behaviors>
      <serviceBehaviors>
        <behavior name="Calculator_ServiceBehaviour">
          <serviceRealExceptionBehaviourExtension/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Calculator_ClientBehaviour">
          <clientRealExceptionEndpointBehaviorExtension />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <services>
      <service name="FlexiServices.AcceptanceTests.Service.CalculatorService" 
               behaviorConfiguration="Calculator_ServiceBehaviour">
        <endpoint address="http://localhost:7777/Calculator.svc"
                  binding="basicHttpBinding"
                  contract="FlexiServices.AcceptanceTests.Service.ICalculatorService"/>
      </service>
    </services>
    
    <client>
      <endpoint address="http://localhost:7777/Calculator.svc"
                binding="basicHttpBinding"
                bindingConfiguration="Calculator_BasicHttpBinding"
                contract="FlexiServices.AcceptanceTests.Service.ICalculatorService"
                behaviorConfiguration="Calculator_ClientBehaviour"/>
    </client>
  </system.serviceModel>
</configuration>