<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="Calculator_ServiceBehaviour">
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="Calculator_BasicHttpBinding"/>
      </basicHttpBinding>
    </bindings>

    <services>
      <service name="FlexiServices.AcceptanceTests.Service.CalculatorService" behaviorConfiguration="Calculator_ServiceBehaviour">
        <endpoint address="http://localhost:7777/Calculator.svc" binding="basicHttpBinding" contract="FlexiServices.AcceptanceTests.Service.ICalculatorService"/>
      </service>
    </services>

    <client>
      <endpoint address="http://localhost:7777/Calculator.svc" binding="basicHttpBinding"  bindingConfiguration="Calculator_BasicHttpBinding" contract="FlexiServices.AcceptanceTests.Service.ICalculatorService"/>
    </client>
  </system.serviceModel>
</configuration>